<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tropicla Smoothie Cafe</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
  <!--[if lt IE 9]>
  <script>
  document.createElement("article");
  document.createElement("aside");
  document.createElement("header");
  document.createElement("footer");
  document.createElement("main");
  document.createElement("nav");
  document.createElement("section");
</script>
<![endif]-->
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <main>
    <h4>My Smoothies</h4>
    <div>
      <table>
        <thead>
          <tr>
            <th>Smoothie</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Tried It</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if(userItems.length==0){
            %>
            <p>No Items to display</p>
            <% }

            else {

              for (var i=0;i< userItems.length;i++)
              {%>
                <tr>
                  <td><a href="categories/item?itemCode=<%= userItems[i].itemCode%>"><%= userItems[i].itemName %></a></td>
                  <td><%= userItems[i].catalogCategory %></td>
                  <td><%= userItems[i].rating %></td>
                  <td><%= userItems[i].triedIt %></td>
                  <td>
                    <button onClick="window.location.href = '/myitems?action=update&itemCode=<%= userItems[i].itemCode%>'">update</button>
                    <button onClick="window.location.href = '/myitems?action=delete&itemCode=<%= userItems[i].itemCode%>'">delete</button>
                  </td>
                    </tr>
                      <%}
                    }%>
                  </tbody>
                </table>
              </div>
              <div>
                <p class="share">click <a href="">here</a> to share a new smoothie</p>
              </div>
            </main>
            <% include partials/footer.ejs %>
          </body>
          </html>
